name: Build (Windows)

on: [push, workflow_dispatch]

jobs:
  build-windows:
    runs-on: windows-2022

    defaults:
      run:
        shell: cmd

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        submodules: recursive
        # master
        ref: b0ffec48be69bedeed3d1e669ca2844288e5825f
        fetch-depth: 0

    # required for CMAKE_MSVC_RUNTIME_LIBRARY
    - name: Patch target cmake version
      run: |
        python -c "f=open('cmake/developer_package/api_validator/api_validator.cmake','r+b');s=f.read();insert_str=b'set(UWP_API_VALIDATOR \"\")\n    ';point=s.index(b'if(UWP_API_VALIDATOR)');s=s[:point]+insert_str+s[point:];f.seek(0);f.write(s);f.truncate();f.close()"
        python -c "f=open('CMakeLists.txt','r+b');s=f.read();start_str=b'cmake_minimum_required(VERSION ';start=s.rindex(start_str);end=s.index(b')',start);s=s[:start]+start_str+b'3.15'+s[end:];f.seek(0);f.write(s);f.truncate();f.close()"
        python -c "f=open('src/plugins/intel_gpu/thirdparty/onednn_gpu/CMakeLists.txt','r+b');s=f.read();start_str=b'cmake_minimum_required(VERSION ';start=s.index(start_str);end=s.index(b')',start);s=s[:start]+start_str+b'3.15'+s[end:];f.seek(0);f.write(s);f.truncate();f.close()"

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Setup Ninja
      run: pip install ninja

    - name: Configure
      run: cmake -S . -B build -G Ninja -D CMAKE_BUILD_TYPE=Release -D BUILD_SHARED_LIBS=ON -LA
        -D CMAKE_TOOLCHAIN_FILE=%cd%\cmake\toolchains\mt.runtime.win32.toolchain.cmake
        -D ENABLE_LTO=ON -DENABLE_FASTER_BUILD=ON -D VERBOSE_BUILD=ON -D TREAT_WARNING_AS_ERROR=OFF
        -D ENABLE_PYTHON=OFF -D ENABLE_WHEEL=OFF
        -D ENABLE_OPENCV=OFF -D ENABLE_GAPI_PREPROCESSING=OFF
        -D ENABLE_SAMPLES=OFF -D ENABLE_DOCS=OFF -DENABLE_TESTS=OFF
        -D ENABLE_NCC_STYLE=OFF -D ENABLE_CLANG_FORMAT=OFF -D ENABLE_CPPLINT=OFF
        -D THREADING=TBB -D ENABLE_INTEL_CPU=ON
        -D ENABLE_INTEL_GPU=ON -D ENABLE_ONEDNN_FOR_GPU=ON -D OPENCL_ICD_LOADER_DISABLE_OPENCLON12=ON
        -D ENABLE_INTEL_GNA=OFF
        -D ENABLE_MULTI=ON -D ENABLE_AUTO=ON -D ENABLE_AUTO_BATCH=ON -D ENABLE_HETERO=ON -D ENABLE_TEMPLATE=OFF
        -D ENABLE_OV_ONNX_FRONTEND=ON -D ENABLE_OV_TF_FRONTEND=ON -D ENABLE_OV_PADDLE_FRONTEND=OFF

    - name: Build
      run: cmake --build build --verbose

    - name: Install
      run: |
        cmake --install build --prefix openvino
        mkdir openvino\include
        xcopy thirdparty\onnx\onnx\onnx openvino\include\onnx /s /i /f
        xcopy build\thirdparty\onnx\onnx\onnx openvino\include\onnx /s /i /f
        xcopy thirdparty\protobuf\protobuf\src\* openvino\include /s /f

    - name: Show
      run: ls -R openvino

    - name: Package
      shell: pwsh
      run: Compress-Archive openvino -DestinationPath openvino-gpu-win64.zip

    - name: Get description
      shell: bash
      run: echo OV_VERSION=`git describe --tags --long` >> $GITHUB_ENV

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: openvino-gpu-win64.zip
        name: Build ${{ env.OV_VERSION }}
        tag_name: ${{ env.OV_VERSION }}
        prerelease: true
